.ball {
    $ball-width: 45px;
    $ball-height: 45px;
    width: $ball-width;
    height: $ball-height;
    padding: 2px;
    box-sizing: content-box;
    
    input {
        font: {
            size: 0.8rem;
            weight: 700;
        }
        color: #fff;
        line-height: 1;
        padding: 0px;
        width: $ball-width;
        height: $ball-height;
        border-radius: 50%;
        text-align: center;
        border: none;
        background: {
            image: url('../../assets/images/cricket-ball.jpg');
            size: 63px 63px;
            repeat: no-repeat;
            position: center;
            origin: content-box;
        }

        &:focus-visible {
            outline: 1px;
        }
    }
}