@use "sass:map";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// @debug $theme-colors;
$app-primary: #fffbf2;
$app-secondary: #511d00;
$theme-colors: map.set($theme-colors, "app-primary", $app-primary);
$theme-colors: map.set($theme-colors, "app-secondary", $app-secondary);

* {
    color: #140202;
    transition: all 600ms ease;
}

$primary-color: #fffbf2;
$secondary-color: #511d00;

.btn-app-primary, .btn-app-primary:hover, .btn-app-primary:active {
    background-color:  $secondary-color !important;
    color: #fff !important;
    border-color: $secondary-color !important;
}