.navbar {
    background-color: #fffbf2;

    a, .logout-btn {
        color: #5e3f3f;
    }

    .nav-link.active {
        font-weight: 500;
    }

    .logout-btn {
        background: unset;
        border: unset;
    }
}

.footer {
    background-color: #fffbf2;
}