.login-container {
    margin-top: 120px;
}
  
.main-logo {
    width: 30%;
    height: 30%;
}

.error-shake {
    animation: horizontal-shaking 400ms linear;
    animation-iteration-count: 2;
}

@keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
}